<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="runtime.*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="Microsoft.OpenApi*" />
      <package pattern="YamlDotNet" />
    </packageSource>
  </packageSourceMapping>
</configuration>
